.vscode/**
.vscode-test/**
.claude/**
**/.claude/**
src/**
scripts/**
test/**
test-results/**
**/*.map
**/*.ts
**/tsconfig.json
**/tsconfig.*.json
**/*.vsix
node_modules/**
!parsers/tree-sitter-kio.wasm
.gitignore
.npmrc
esbuild.config.mjs
